@charset "utf-8";
/* CSS Document */

.checkbox {
    margin: 0px;
    
}
.checkbox label, .radio label {
    min-height: 18px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 6px;
}