#purchase_div{margin-left:2px;}

.prechasereport .total_ammount{text-align: right;}

.prechasereport-footer .total_sale{text-align:right;font-size:14px !Important;}
.prechasereport-footer .totalprice{text-align: right;}